.text-green {
  color: rgb(10 11 10);
}


.log-in-button {
  border: none;
  background-color: blueviolet;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  padding: 15px 5px;
  width: 274px;
  border-radius: 5px;
  margin-top: 8px;
}

.sign-in-button {
  border: none;
  background-color: blueviolet;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  padding: 15px 5px;
  width: 274px;
  border-radius: 5px;
  margin-top: 8px;
}

.sign-in-form {
  width: 50%;
  margin: 0 auto;
  background-color: #F7F6F5;
  border-radius: 10px;
  margin-top: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Sign in With Email and password style */
.sign-in-form .registered {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sign-in-form .registered .input {
  width: 250px;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid lightgray;
  border-radius: 5px;
}

/* Facebook auth container styles */

.facebook-auth-container {
  margin-top: 6px;
  background-color: #161815;
  padding: 7px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
}

.facebook-image {
  width: 20px;
  margin-right: 5px;
}

.facebook-auth-container button {
  border: none;
  background-color: #161815;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  padding: 10px;
}

/* Google auth container styles  */
.google-auth-container {
  margin-top: 10px;
  background-color: #357ae8;
  padding: 7px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
}

.google-image {
  width: 20px;
  margin-right: 5px;

}

.google-auth-container button {
  border: none;
  background-color: #357ae8;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  padding: 10px;
}